<div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Trivia-App</h1>
        <hr>
         <div *ngIf="inputName">
       <form [formGroup]="angForm"> 
        <div class="form-group">
          <h2>What is your name?</h2>
          <input class="form-control" formControlName="name"></div>
           <div *ngIf="angForm.controls['name'].invalid && (angForm.controls['name'].dirty || angForm.controls['name'].touched)" class="alert alert-danger">
            <div *ngIf="angForm.controls['name'].errors.required">
            Name is required.
          </div>
          <div *ngIf="angForm.controls['name'].errors.minlength">Name must be atleast 5 character</div>
        </div>
           <button class="btn btn-primary" (click)="nextName()" [disabled]="!angForm.valid">Next</button>
       </form>
  </div>
          <!--------------------------------------------------------------------------------------->
              <div *ngIf="radio"> <!-- Form starts -->
              <form [formGroup]="angRadio" (ngSubmit)="onSubmit()">
                  <!-- Gender -->
                  <div class="group-gap">
                      <h5 class="mb-3">Who is the best cricketer in the world?</h5>
                      <div class="d-block my-3">
  
                          <div class="custom-control custom-radio">
                              <input id="sachin" type="radio" class="custom-control-input" value="sachin" name="gender" formControlName="gender">
                <label class="custom-control-label" for="sachin">Sachin</label>
              </div>
  
              <div class="custom-control custom-radio">
                <input id="virat" type="radio" class="custom-control-input" value="virat" name="gender" formControlName="gender">
                <label class="custom-control-label" for="virat">Virat</label>
              </div>
              <div class="custom-control custom-radio">
                <input id="dhoni" type="radio" class="custom-control-input" value="dhoni" name="gender" formControlName="gender">
                <label class="custom-control-label" for="dhoni">Dhoni</label>
              </div>
              <div class="custom-control custom-radio">
                <input id="watson" type="radio" class="custom-control-input" value="watson" name="gender" formControlName="gender">
                <label class="custom-control-label" for="watson">Watson</label>
              </div>
  
              <div class="invalid-feedback" *ngIf="isSubmitted && myForm.errors?.required">
                <p>Please select either value</p>
              </div>
            </div>
          </div>
  
            <!-- Submit Button -->
            <button type="submit" class="btn btn-danger btn-lg btn-block" [disabled]="!angRadio.valid">Next</button>
        </form><!-- Form ends -->
  </div>
    
  
  <!-------------------------------------------CheckBox --------------------------------->
  
  
  <div *ngIf="checkbox"> <!-- Form starts -->
    <form [formGroup]="angCheckbox" (ngSubmit)="onSubmit1()">
      <!-- Gender -->
      <div class="group-gap">
        <h5 class="mb-3">What are the colors in the Indian national flag?</h5>
        <div class="d-block my-3">
  
          <!-- <div class="custom-control custom-radio">
            <input id="red" type="checkbox" class="custom-control-input" value="red" name="gender" formControlName="gender">
            <label class="custom-control-label" for="red">Red</label>
          </div>
  
          <div class="custom-control custom-radio">
            <input id="orange" type="checkbox" class="custom-control-input" value="orange" name="gender" formControlName="gender">
            <label class="custom-control-label" for="orange">Orange</label>
          </div> -->
          <!-- <div class="custom-control custom-radio">
            <input id="white" type="checkbox" class="custom-control-input" value="white" name="gender" formControlName="gender">
            <label class="custom-control-label" for="white">White</label>
          </div> -->
          <div class="custom-control custom-radio">
            <input id="green" type="checkbox" class="custom-control-input" value="green" name="gender" formControlName="gender">
            <label class="custom-control-label" for="green">Green</label>
           </div>
           <div class="custom-control custom-radio">
            <input id="red" type="checkbox" class="custom-control-input" value="red" name="gender" formControlName="gender">
            <label class="custom-control-label" for="red">red</label>
           </div>
           <div class="custom-control custom-radio">
            <input id="white" type="checkbx" class="custom-control-input" value="white" name="gender" formControlName="gender">
            <label class="custom-control-label" for="white">white</label>
           </div>
           <div class="custom-control custom-radio">
            <input id="orange" type="checkbox" class="custom-control-input" value="orange" name="gender" formControlName="gender">
            <label class="custom-control-label" for="orange">Orange</label>
           </div>
  
          <div class="invalid-feedback" *ngIf="isSubmitted && myForm.errors?.required">
            <p>Please select either value</p>
          </div>
        </div>
      </div>
  
        <!-- Submit Button -->
        <button type="submit" class="btn btn-danger btn-lg btn-block" [disabled]="!angCheckbox.valid">Next</button>
    </form><!-- Form ends -->
  </div>
  
  <!------------------------------summary------------------------------------------------------>
  
  
    <div *ngIf="summary">
             
       <h2>Summary</h2><hr>
         <h3>Name - {{name1.name}}</h3>
          <h3>Here are the answers selected</h3>
         <h4>Who is the best cricketer in the world?</h4>
           <h5>Answer :- {{player.gender}}</h5>
           <h4>What are the colors in the Indian national flag?</h4>
           <h5>Answer:-{{color.gender}}</h5>
  
           <button class="btn btn-primary" (click)="finish()">Finish</button><br><br>
           <button class="btn btn-secondary"(click)="history()">History</button>
  
  
       
  
    </div>
   <!-----------------------------------History-------------------------->
    
  <div *ngIf="History">
      <h3>History</h3>
      <hr>
    <p>Game :  {{date | date:'dd-MM-yyyy hh:mm:ss a':'+0530' }}</p>
  
        <div *ngFor="let n of displayName">
             <h4>Name:{{n.name}}</h4>
        </div>
      
      <h6>Who is the best cricketer in the world?  
        <br> <span *ngFor="let c of displayCricketersList">
           <p>Answer : {{c.gender}}</p>
         </span>
    </h6>
    <h6>What are the colors in the national flag?
       <br> <span *ngFor="let f of flagList">
        <p> Answer : {{f.gender}}</p>
       </span>
    </h6>
      <br><br>
      <hr>
  
     
  
  </div>
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
          <!-- <div *ngIf="cricketer">
          
          <h2>Who is the best cricketer in the world?</h2>
          <div *ngFor="let cricketer of cricketerList">
      
          
           <input type="radio" name="cricketer" value="{{cricketer}}" (change)="radioChangeHandler($event)">
               <i>{{cricketer}}</i>
          </div>
        
          <button class="btn btn-primary" (click)="nextFlag()">Next</button>
        </div>
           
        
  
  
  
  
  
  
  
           
  
           <div *ngIf="flag">
             <h2>What are the colors in the Indian national flag?</h2>
             <div *ngFor="let color of flagColorList">
               <input type="checkbox" name="color" value="{{color}}" (change)="checkboxHandler($event)">
               <i>{{color}}</i>
             </div>
             
            <button class="btn btn-primary" (click)="summary()">Next</button>
  
              </div>
  
              <div *ngIf="sum">
                 <h2>SUMMARY:</h2><br>
                 <h3>Name- {{displayNameSingle | uppercase}}</h3><br>
                 <h3>Here are the answers selected:</h3><br>
                 <h4>Who is the best cricketer in the world?</h4>
                      <h5>Answer : {{displayCricketer | uppercase}}</h5>
                 <br>
                 <h4>What are the colors in the national flag?</h4>
                         <h5>Answer: {{displayFlagColor | uppercase}}</h5>   
                 <br>
                 <button class="btn btn-primary" (click)="finish()">Finish</button><br><br>
                 <button class="btn btn-secondary"(click)="history()">History</button>
              </div>
              <div *ngIf="hist">
                  <h2>History</h2><hr>
            
                <h6>
                  <br> <span *ngFor="let name of displayName">
                    <p>Game :  {{date | date:'dd-MM-yyyy hh:mm:ss a':'+0530' }}</p>
                    <p>Name : {{name}}</p>
                     
                  </span>
                </h6>
                <h6>Who is the best cricketer in the world?  
                  <br> <span *ngFor="let c of displayCricketersList">
                     <p>Answer : {{c}}</p>
                   </span>
              </h6>
              <h6>What are the colors in the national flag?
                 <br> <span *ngFor="let f of flagList">
                  <p> Answer : {{f}}</p>
                 </span>
              </h6>
                <br><br>
                <hr> -->
  
        
      </div>
    </div>
  </div>
  
  
